<!DOCTYPE html>
<html>

<head>
  <title>Daily Notes</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

  <script type="text/javascript" src="jquery.min.js"></script>
  <script type="text/javascript" src="bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="bootstrap.min.js"></script>
  <script type="text/javascript" src="typeahead.bundle.min.js"></script>
  <script type="text/javascript" src="bootstrap-tagsinput.min.js"></script>
  <script type="text/javascript" src="jquery.easing.min.js"></script>
  <script type="text/javascript" src="core.daily.notes.min.js"></script>
  <script type="text/javascript" src="jquery.cookie.min.js"></script>
  <script type="text/javascript" src="pagination.min.js"></script>
</head>

<body>
  <div id="app-container"></div>
  <script type="text/javascript">
    var ___appConfig = <%= JSON.stringify(htmlWebpackPlugin.options.config) %>;
    window.app.App.start();
  </script>
</body>

</html>